{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11"]
      },
      "exclude": ["@babel/plugin-transform-template-literals"]
    }]
  ]
}
